<div class="topbar flex w-full shadow-2 p-2">
  <div class="main-menu">
    @if (isAuthenticated()) {
      <p-button text icon="pi pi-align-justify" (onClick)="openSidebar()"></p-button>
    }

    <p-button link routerLink="/">Home</p-button>
  </div>
  <div class="routes flex justify-content-end gap-5 flex-1">
    @if (!isAuthenticated()) {
      <p-button outlined routerLink="/auth">Login</p-button>
    } @else {
      <p-button outlined (onClick)="logout()">Logout</p-button>
    }
  </div>
</div>
