<div class="register flex justify-content-center align-items-center">
  <form [formGroup]="form">
    <p-card header="{{ 'Register' | translate:'UI:AUTH:REGISTER' }}">
      <div class="footer">
        @if (triedToSubmit && error) {
          <div class="error border-1 border-red-600 p-2 text-red-600 mb-2 border-round">
            {{error}}
          </div>
        }
        <div class="flex flex-column gap-2">
          <label for="email">{{ 'Email' | translate:'UI:AUTH:EMAIL' }}</label>
          <input pInputText id="email" type="email" formControlName="email">
        </div>
        <div class="flex flex-column gap-2 mt-2">
          <label for="password">{{ 'Password' | translate:'UI:AUTH:PASSWORD' }}</label>
          <input pInputText id="password" type="password" formControlName="password">
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="actions flex gap-2">
          <p-button type="submit" (onClick)="submit()" [disabled]="!form.valid">{{ 'Register' | translate:'UI:AUTH:REGISTER' }}</p-button>
          <p-button text routerLink="/auth/login">{{ 'Login' | translate:'UI:AUTH:LOGIN' }}</p-button>
        </div>
      </ng-template>
    </p-card>
  </form>
</div>
